body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.homePage {
  text-align: center;
}

.headerImg {
  width: 100%;
}

.allBeers {
  text-align: center;
}
.beer {
  display: flex;
  height: 120px;
  margin-left: 15px;
}

.beerText {
  display: flex;
}

.beersImg {
  height: 110px;
}
